/* Practice Layout */

.trash {
  color: black;
}

/** container  **/
.page-content {
  background-color: #E8E8E8;
  margin: 2% auto;
  max-width: 80%;
  color: #7b7b7b;
  padding: 0;
}

/*top section*/

header{
  padding: 10px;
}

.header h2 {
  font-size: 35px;
  line-height: 30px;
  /*margin: 0;*/
}

.header span{
  float: right;
}

.nav-bar {
  background-color: #DCDCDC;
  padding:10px;
  margin: 0;
}

.nav-bar ul{
  margin: 0;
  padding: 10px;
}

li {
  display: inline;
  padding-right: 10px;
}

a {
  text-decoration: none;
  font-size: 120%;
}

a:hover {
  background-color: #787878;
}

/*mid section*/

.mdl-columns {
  padding: 15px;
}

.mdl-col-left {
  display: table-cell;
}

.mdl-col-right {
  display: table-cell;
  padding: 10px;
}

/*table with headers*/

.mdl-tbl {
  border-collapse: collapse;
  display: table;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.tbl-row {
  background-color: #cccccc;
  display: table-row;
  padding: 10px;
}

.tbl-header, .tbl-cell {
  display: table-cell;
  border:#f0f0f0 3px solid;
  padding: 10px;
  vertical-align: middle;
}

.tbl-header {
  font-weight:bold;
}

/*box section*/
.box{
  margin: 15px 0;
}

.box div {
  border: 3px solid #73AD21;
  box-sizing: border-box;
  display: inline-block;
  font-weight:bold;
  height: 60px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 20%;
  background-color: #eeeeee;
}

@media (max-width: 800px) {
  .mdl-columns article {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
}

