/* Practice Layout */

.trash {
  color: black;
}

.page-content {
  position: relative;
  background-color: rgb(212, 234, 222);
  min-height: 100vh;
  min-width: 100%;
  overflow: auto;
}

.sect-gray {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  min-height: 100vh;
  position: fixed;
  right: 0;
  width: 30%;
  z-index: 2;
}

.sect-blue {
  background-color: #76C4D1;
  color: white;
  margin: 5% 5%;
  min-height: 85%;
  min-width: 85%;
  overflow: auto;
  position: absolute;
  top: 0;
  z-index: 1;
}

.sect-yellow {
  background-color: #DFE180;
  color: #7b7b7b;
  margin: 5% 5%;
  min-height: 60%;
  opacity: 1;
  overflow: auto;
  position: absolute;
  right: 4%;
  top: 10%;
  width: 30%;
  z-index: 4;
}

.sect-red {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  bottom: 0;
  margin-bottom: 5%;
  min-height: 50%;
  width: 50%;
  overflow: auto;
  position: absolute;
}

.art-sect-blue {
  max-width: 40%;
  position: absolute;
  padding: 5%;
}

.art-sect-red, .art-sect-yellow {
  max-width: 90%;
  position: absolute;
  padding: 10%;
}

p {
  text-align: justify;
}

/* Responsive skills screens*/
@media (max-width: 640px) {
  .sect-blue, .sect-red, .art-sect-blue, .art-sect-red, .art-sect-yellow {
    position: relative;
    margin: 0;
    line-height: 1.5;
    padding: 5%;
    width: 90%;
    z-index: 4;
  }

  .sect-yellow {
    position: relative;
    margin: 5% 5%;
    min-height: 60%;
    width: 90%;
  }

  .sect-gray {
    top: 0;
    bottom: 0;
    left: 0;
  }
}

@media (max-height: 640px) {
  .sect-red, .art-sect-blue, .art-sect-red, .art-sect-yellow {
    position: relative;
    padding: 5%;
  }

  .sect-blue {
    overflow: auto;
  }
}
