.page-content {
  background-color: rgb(212, 234, 222);
  font-size: 20px;
  min-height: 100vh;
  min-width: 100%;
  overflow: auto;
  position: relative;
}

h3 {
  font-size: 2em;
}

.title-sect-blue {
  font-weight: bold;
}

.sect-gray {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  min-height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  z-index: 2;
}

.sect-blue {
  background-color: #76C4D1;
  color: white;
  margin: 5% 5%;
  min-height: 90%;
  min-width: 85%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.art-sect-blue p {
  letter-spacing: 2px;
  font-weight: 200;
}

.art-sect-blue p:first-of-type {
  border-bottom: 1px solid #E72840;

}

.sect-blue p {
  padding: 20px 0 30px;
  max-height: 40%;
}

.sect-yellow {
  background-color: #DFE180;
  color: #7b7b7b;
  margin: 5% 0;
  min-height: 70%;
  position: absolute;
  right: 5%;
  top: 10%;
  width: 28%;
  z-index: 4;
}

.sect-yellow h3{
  padding-bottom: 10%;
}

.sect-yellow li{
  padding: 5px 0;
}

.sect-white {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin-bottom: 5%;
  min-height: 50%;
  overflow: auto;
  position: absolute;
  top: 45%;
  width: 60%;
}

.art-sect-white {
  font-size: 80%;
}

.art-sect-blue {
  max-width: 50%;
  margin-bottom: 30%;
  position: relative;
  padding: 5%;
}

.art-sect-white, .art-sect-yellow {
  max-width: 90%;
  position: absolute;
  padding: 10%;
}

.p-sect-white {
  clear: right;
  padding-top: 10px;
}

.font {
  font-size: 1.5em;
  text-decoration: underline dotted;
}

p, li {
  font-size: 12pt;
  text-align: justify;
}

.ul-yellow {
  list-style-type: none;
}

p::first-letter {
  font-weight: bold;
}

.ul-yellow li:nth-child(odd):not(:first-child) {
  font-weight: bold;
}

/* Responsive skills screens*/
@media (max-width: 640px) {
  .sect-blue, .sect-white, .art-sect-blue, .art-sect-white, .art-sect-yellow {
    line-height: 1.5;
    margin: 0;
    padding: 5%;
    position: relative;
    width: 90%;
    z-index: 4;
  }

  .sect-yellow {
    margin: 5% 5%;
    min-height: 60%;
    position: relative;
    width: 90%;
  }

  .sect-gray {
    bottom: 0;
    left: 0;
    top: 0;
  }
}

@media (max-height: 740px) {
  .sect-white, .art-sect-blue, .art-sect-white, .art-sect-yellow {
    position: relative;
    padding: 5%;
  }

  .sect-blue {
    overflow: auto;
  }
}
