/* Practice Layout */

.trash {
  color: black;
}

.page-content {
  min-height: 100vh;
  overflow: auto;
}

.content-sections{
  background-color: white;
  width: 85%;
  margin: 0 7% ;
}

section {
  background-color: #E8E8E8;
  box-sizing: border-box;
  color: #7b7b7b;
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
}

article {
  background-color: #E8E8E8;
  border: 5px solid #D24F2E;
  margin: 15px;
  max-width: 500px;
  padding: 15px;
}

.content-box {
  box-sizing: content-box;
}

.box-sizing {
  box-sizing: border-box;
}


