/* Practice Layout */

.trash {
  color: black;
}

.page-content {
  background-color: #d8d8d8;
  min-height: 100vh;
  overflow: auto;
}

section {
  background-color: #E8E8E8;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding: 30px;
  width: 100%;
}

article {
  background-color: #E8E8E8;
  border: 3px solid #73AD21;
  margin: 10px;
  max-width: 600px;
  padding: 10px;
}

.content-box {
  box-sizing: content-box;
}

.box-sizing {
  box-sizing: border-box;
}


