/* Practice Layout */

/*general styles*/
html {
  /*background-color: #7b7b7b;*/
  margin: 0;
  padding: 0;
}

.page-content {
  margin: 0 auto;
  max-width: 1200px;
  overflow: auto;
}

p {
  text-align: justify;
}

/*upper section*/
nav, nav ul, nav li {
  background-color: #DCDCDC;
  overflow: hidden;
  list-style-type: none;
}

nav li {
  float: left;
}

/*middle section*/
.columns {
  background-color: #C8C8C8;
  overflow: auto;
}

.column1 img {
  width: 350px;
  height: 350px;
}

article.column1 {
  background: #C8C8C8;
  float: left;
  padding: 2%;
  width: 60%;
}

article.column2 {
  background: #E8E8E8;
  float: right;
  padding: 2%;
  width: 30%;
}

.f-search input {
  border: none;
  display: block;
  height: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.f-search p {
  font-weight: bold;
}

a {
  display: block;
  padding-right: 16px;
  text-decoration: none;
}

a:hover {
  background-color: #9b9b9b;
}

/*bottom section*/

img {
  border: solid 1px #bbb;
  float: left;
  height: 250px;
  margin: 0 15px 5px 0;
  width: 250px;
  padding: 10px;
}

h3 {
  padding: 2%;
}

.ul-gallery li {
  list-style-type: none;
}

.gallery {
  clear: both;
  background-color: #F5F5F5;
  overflow: auto;
}

